{% extends "base.html" %}


{% block content %}
    <main class="container py-5">
        <section class="card card-body">
           
            <div  class="card card-body">
                <h3 class="display-1 text-center">Inspecciones</h3>
                <p>Nuestro sistema te permite registrar y gestionar inspecciones en distintos ambientes de manera eficiente. Con una interfaz intuitiva, los usuarios pueden:<br>
                
                    <strong> ✅ Seleccionar un tipo de ambiente (Laboratorio, Aula, Taller, etc.).</strong> 
                    <strong> ✅ Registrar el estado de los elementos mediante opciones predefinidas.</strong> 
                    <strong> ✅ Añadir observaciones para mejorar el seguimiento y control.</strong> <br>
                    <strong> ✅ Visualizar registros previos y mantener un historial detallado.</strong> <br>
                    
                    Este sistema está diseñado para facilitar el proceso de inspección, asegurando que cada ambiente se mantenga en óptimas condiciones.
                    
                    <br>🔍 Comienza ahora registrando una nueva inspección o revisando los reportes anteriores.
                    
                    </p>
            </div>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="/signup">Registrarse</a>
            <a class="btn btn-primary" href="/login_view">Iniciar Sesión</a>
        </div>
        
        </section>
    </main>
{% endblock %}