{% extends "base.html" %}


{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Inspecciones</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis iure dolores doloremque. Dicta eum deleniti consectetur ipsam praesentium a, qui repellendus non, modi tenetur at debitis! Debitis nisi corporis a?</p>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="/signup">Registrarse</a>
            <a class="btn btn-primary" href="/login_view">Iniciar Sesión</a>
        </div>
        
        </section>
    </main>
{% endblock %}