{% extends "base.html" %}


{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Laboratorio</title>
    <link rel="stylesheet" href="/app_control/static/style.css">
</head>
<body>
    <div class="container">
        <h4>Hola, {user} que ambiente desear registrar hoy</h4>
        <label for="ambiente">Ambientes</label>
        <div>
            
            <select name="ambientes" id="">
                <option value="lab_a">Laboratorio A</option>
                <option value="lab_b">Laboratorio B</option>
            </select>

        </div>

        <table>
            <thead>
                <tr>
                    <th>Elemento</th>
                    <th>C</th>
                    <th>O</th>
                </tr>
            </thead>
            <form id="inspeccionForm">
                <input type="radio" name="equipo_computo" value="C" checked> Correcto
                <input type="radio" name="equipo_computo" value="O"> Observación
                <br>
            
                <input type="radio" name="proyector_multimedia" value="C" checked> Correcto
                <input type="radio" name="proyector_multimedia" value="O"> Observación
                <br>
            
                <input type="radio" name="red" value="C" checked> Correcto
                <input type="radio" name="red" value="O"> Observación
                <br>
            
                <input type="radio" name="fluido_electrico" value="C" checked> Correcto
                <input type="radio" name="fluido_electrico" value="O"> Observación
                <br>
            
                <input type="radio" name="orden_limpieza" value="C" checked> Correcto
                <input type="radio" name="orden_limpieza" value="O"> Observación
                <br>
            
                <input type="radio" name="modulos" value="C" checked> Correcto
                <input type="radio" name="modulos" value="O"> Observación
                <br>
            
                <button type="submit">Guardar</button>
            </form>
            
        </table>
        <div class="buttons">
            <button class="cancelar">Cancelar</button>
            <button class="guardar">Guardar</button>
        </div>
    </div>
    <script>
        document.getElementById("inspeccionForm").addEventListener("submit", function(event) {
            event.preventDefault();
    
            let formData = new FormData(this);
    
            fetch("/registrar-inspeccion/", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                alert(data.mensaje);
            })
            .catch(error => console.error("Error:", error));
        });
    </script>
    
</body>
</html>

{% endblock %}