{% extends "base.html" %}

{% block content %}
<main class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-sm-12 mt-5">
            <form id="inspeccionForm" method="POST" action="/registrar_inspeccion/" class="card card-body">
                {% if user.is_authenticated %}
                    <h4 class="text-center fw-bold">Hola, {{ user.username }}. ¿Qué ambiente deseas registrar hoy?</h4>
                {% endif %}
                {% csrf_token %}

                <script>
                    function actualizarIdentificadores() {
                        let ambiente = document.getElementById("ambientes").value;
                        let identificador = document.getElementById("identificador");
                        identificador.innerHTML = "";

                        const opciones = {
                            "LABORATORIO DE CÓMPUTO": ["A", "B", "C", "D", "E", "F", "G", "H"],
                            "AULA": ["B101", "B102", "B103", "B104", "B105", "B201", "B202", "B203", "B204", "B205", "B206", "B301", "B302", "B303", "B304", "B305", "B306", "B401", "B403", "B404", "B405", "B406", "B505"],
                            "TALLER": ["DIBUJO", "MODAS", "MÚLTIPLE 1", "MÚLTIPLE 2", "MÚLTIPLE 3"]
                        };

                        if (opciones[ambiente]) {
                            opciones[ambiente].forEach(opcion => {
                                let opt = document.createElement("option");
                                opt.value = opcion;
                                opt.textContent = opcion;
                                identificador.appendChild(opt);
                            });
                        }
                    }
                </script>


                <div class="mb-3">
     
                    <select name="tipo_ambiente" id="ambientes" class="form-select" onchange="actualizarIdentificadores()">
                        <option value="" selected disabled>Tipos de ambiente</option>
                        {% for ambiente in ambientes %}
                            <option value="{{ ambiente }}">{{ ambiente }}</option>
                        {% endfor %}
                    </select>
                </div>


                <div class="mb-3">
              
                    <select id="identificador" name="ambiente" class="form-select">
                        <option value="" selected disabled>Seleccione un identificador</option>
                    </select>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th>Elemento</th>
                            <th>Correcto</th>
                            <th>Observado</th>
                        </tr>
                    </thead>


                    
                    {% for item, name in elementos.items %}
                    <tr>
                        <td>{{ item }}</td>
                        <td class="text-center">
                            <input type="radio" name="{{ name }}" value="C" checked class="form-check-input">
                        </td>
                        <td class="text-center">
                            <input type="radio" name="{{ name }}" value="O" style="accent-color: red;">
                        </td>
                    </tr>
                    {% endfor %}

                </table>

                <div class="mb-3">
                    <label class="form-label">Observación</label>
                    <textarea name="observacion" class="form-control" rows="3" placeholder="NO SE ENCONTRARON OBSERVACIONES"></textarea>
                </div>

                <button class="btn btn-primary w-100" type="submit">Guardar</button>
            </form>
        </div>
    </div>
</main>

<script>
    document.getElementById("inspeccionForm").addEventListener("submit", function(event) {
        event.preventDefault();
    
        let tipoAmbiente = document.getElementById("ambientes").value;
        let identificador = document.getElementById("identificador").value;
    
        if (!tipoAmbiente) {
            alert("¡Debes seleccionar un tipo de ambiente!");
            return;
        }
    
        if (!identificador) {
            alert("¡Debes seleccionar un identificador!");
            return;
        }
    
        let formData = new FormData(this);
    
        fetch("/registrar_inspeccion/", {
            method: "POST",
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            alert(data.mensaje);
            location.reload();
        })
        .catch(error => console.error("Error:", error));
    });
    </script>

{% endblock %}
